<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a href="https://github.com/alexvijo" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/alexvicente/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a href="mailto:alexvicentejose@gmail.com" target='_blank'>alexvicente </a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a href="https://angular.dev/api" target="_blank" rel="nofollow noopener noreferrer">
            <div>Built with
                <img src='assets/icons/angular.svg' width="100">    
                v{{ version }} by Alex Vicente</div>
        </a>
        <a href="https://github.com/bchiang7/v4" target="_blank" rel="nofollow noopener noreferrer">
            <div class="mt-2">Designed by Brittany Chiang</div>
        </a>
    </div>

</footer>
