<section class="section banner" id="banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <h1><span _ngcontent-ng-c2007076148="" class="n-section-title"></span> {{"Banner.Pretitle" | translate}}</h1>
                </div>
                <div class='banner-title'>
                    <h3 style="color: #cdcaca">Alex Vicente</h3>
                    <h3 style="font-weight: 500;
                    color: #8892b0;
                    font-size: 80px;
                    line-height: 56px;
                    margin: 0 0 26px 0;">Frontend Developer.</h3>
                </div>
                <div class='banner-description'>
                    <p [innerHTML]='"Banner.Description" | translate' class="mt-1"></p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a  href="mailto:alexvicentejose@gmail.com" target="_black" class="main-btn">
                    {{"Banner.ActionBtn" | translate}}
                </a>
            </div>
        </div>
    </div>
</section>
