<section class="section banner" id="banner">
    <div [@bannerTrigger] class="container">
      <div class="section-box-banner">
        <div class="content">
          <div>
              <h1><span class="n-section-title"></span> {{"Banner.Pretitle" | translate}}</h1>
          </div>
          <div class='banner-title'>
              <h3 class="alex-vicente">Alex Vicente</h3>
              <h3 class="front-developer">Frontend Developer.</h3>
          </div>
          <div class='banner-description'>
              <p [innerHTML]='"Banner.Description" | translate' class="mt-1"></p>
          </div>
          <div class="mt-4">
            <a [href]="'assets/' + ('Header.cvName' | translate)" target="_blank" class="main-btn" data-aos="fade-up" data-aos-duration="1000"
               [attr.aria-label]="'Header.cvBtn' | translate">
              <i class="fas fa-file-alt"></i> {{"Header.cvBtn" | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
</section>
