<section class="section banner" id="banner">
    <div [@bannerTrigger] class="container">
      <div class="section-box-banner">
        <div class="content">
          <div>
              <h1></h1><!--<span class="n-section-title"></span> {{"Banner.Pretitle" | translate}}-->
          </div>
          <div class='banner-title'>
              <h3 class="alex-vicente">Alex Vicente</h3>
              <h3 class="front-developer">Frontend Developer.</h3>
          </div>
          <div class='banner-description'>
              <p [innerHTML]='"Banner.Description" | translate' class="mt-1"></p>
          </div>
        </div>
      </div>
    </div>
</section>
