<section class="section jobs" id='jobs'>
    <div class="container">
        <div class="section-box">
          <div class="about-title mb-4" data-aos="fade-up" data-aos-duration="1000">
              <h3 class="e-font section-title">
                  <span class='code-font n-section-title'>02.</span> {{"Experience.Title" | translate}}
              </h3>
          </div>

          <div class="jobs-tabs" data-aos="fade-up" data-aos-duration="1000">
            <div class="image-grid">
              <div *ngFor='let job of "Experience.Jobs" | translate; let i = index' [title]="job.Tab">
                <div (click)="openLink(job.Date)" [title]="job.Title" >
                  <div class="img-background" [style.background-image]="'url(' + job.imageUrl + ')'"></div>
                </div>
                  <div class="company-tab-content">{{job.Tab}}</div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

