@use "./../../../../variables" as *;

.contact{
    min-height: 100vh;

    .container{
        display: table;
        height: 100vh;

        .section-box-contact{
            display: table-cell;
            vertical-align: middle;

            .content{
                /*text-align: center;
                margin: auto auto 107px;
                max-width: 600px;*/

                text-align: center;
                margin: 3% auto 47px;
                max-width: 600px;

                .contact-pre-title{
                    position: relative;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    margin: 10px 0 40px;
                    width: 100%;
                    white-space: nowrap;
                    font-size: 32px;
                    display: block;
                    color: $Green;
                    font-size: 16px;
                    font-family: $CodeFont;
                    font-weight: normal;
                    margin-bottom: 20px;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }

                                .contact-title{
                                      color: #cdcaca;
                                    font-family: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
                                    font-weight: 400;
                                    font-size: 70px;
                                    line-height: 52px;
                                    margin: 0;
                                    text-shadow: 1px 1px 3px #0A182E;
                                    @media (max-width: 600px) {
                                        font-size: 62px;
                                        line-height: 48px;
                                    }
                                }
            }
        }
    }
}

@media (max-width: 768px){

    .contact{
        height: 100vh;
        padding: 0 !important;
        margin: 0 auto !important;
        display: table;

        .container{
            display: table-cell;
            vertical-align: middle;
        }
    }
}
